.connect{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  transition-duration: 0.5s;
}

.connect:hover{
  background-color: gray;
  cursor: pointer;
}

.icon{
  height: 50px;
  width: 50px;
}

.contact-information{
  padding-top: 0.5%;
  font-size: 30px;
}



.happy-picture{
  z-index: 1;
  height: 300px;
  border-radius: 100%;
  border-radius: 50%;
  border-color: gray;
  border-style: solid;
}

.picture-container{
  position: absolute;
  top:-200px;
  right:-100px;
  display: flex;
  justify-content: center;    
  align-items: center;  
  padding-bottom: 50px;
}

.main-panel{
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  display: flex;
  justify-content: center;    
  align-items: center;  
}

.connect-panel{
  z-index: 1;
  position: relative;
  border-style: solid;
  border-color: gray;
  background-color: white;
  border-radius: 5px;
}

.contact-me-background{
  background-image: url(picture/contact_me_background.jpg);
  height:1000px;
}

.introduction{
  margin-bottom: 300px;
}

h2{
  margin:0
}

.contact-me-information{
  text-align: center;
  padding-top: 20px;
  font-size: 70px;
}


