h2{
  margin: 0;
}

.gaming-picture{
  margin-top: 20px;
  height: 300px;
  border-radius: 150px;
  border-color: black;
  border-style: solid;
  border-radius: 150px;
}


.game-display{
  margin-top: 50px;
  padding-bottom: 50px;
}

.game-title{
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.game-picture{
  width: 500px;
  border-right: 0px;
  top:0%;
}

.game-content{
  display: grid;
  grid-template-columns: 1fr 500px 2fr 1fr;
  column-gap: 5px;
}

.game-introduction{
  font-size: 20px;
}