.game-dev-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin:0px;
}

.game-display{
    width:700px;
    height:500px;
    padding: 0px;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-content{
    max-width: 100%;
    min-width: 50%;
    height: 90%;
    object-fit: cover;
    transition-duration: 1s;
    cursor: pointer;
}

.content-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
}

.content-button{
    margin:0px;
    padding: 0px;
    margin-left:5px;
    margin-right:5px;
    width:10px;
    height:10px;
    border-radius: 100%;
    border-style: solid;
    cursor: pointer;
}

.game-title{
    text-align: center;
    font-size:40px;
}
