.main_connect{
    position: fixed;
    top: 0px;
    left:0px;
    bottom: 0px;
    width: 300px;
    background-color: gray;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 5fr;
    row-gap: 15px;
}

.main_display{
    padding: 0;
}


.connect_link{
    background-color: black;
    text-align: center;
    color:white;
    font-size: 20px;
    padding-top: 5%;
    justify-content: center;
}

.connect_link:hover{
    transition-duration: 500ms;
    color:gray;
    cursor: pointer;
}

.vertical_space{
    margin-top: 50px;
}

.field-of-study{
    font-size: 20px;
    margin-bottom: 20px;
}

.last-update{
    text-align: center;
    
}

.updated-time{
    background-color: brown;
    position: absolute;
    bottom: 0px;
    width: 100%;
}