.split-game-picture{
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

.game-picture{
  width: 500px;
}

.enemy-panel{
  margin-left:20%;
  margin-right: 20%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 500px 1fr;
  border-style: solid;
  background-color: bisque;
}

.enemy-introduction{
  font-size: 20px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-style: solid;
  padding: 20px;
}

.enemy-picture{
  padding-left: 40%;
}

.picture-container{
  padding-top: 30px;
  padding-bottom: 30px;
}

.final-boss-picture{
  padding-left:33%;
}